<div class ="session">
   <div class="border col-12">
  <%= form_tag({controller: "home", action: "import", method: "post"}, {multipart: true}) do %>
  <%= file_field_tag :file %>
  <%= submit_tag "オブジェクトを一括インポート" %>
<% end %>
   </div>
</div>