// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.upload{
    padding:20px;
    
}

.import{
    padding:90px;
}

.list{
    padding:90px;
}
.column{
    padding:20px;
}
.session{
    padding:20px;
}
